<div class="container-fluid">
	<div class="tr-home-header">
	    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <h2>{{slide.heading}}</h2>
	          <p>{{slide.description}}</p>
	          <button type="button" class="btn btn-primary">Log and Browse Ideas</button>
	        </div>
	      </uib-slide>
	    </uib-carousel>
	</div>
	<hr/>
	<div class="container">
		<div class="tr-panel panel-first" ng-repeat="idea in listOfIdeas">
			<div class="tr-panel-heading">{{idea.title}}</div>
			<img ng-src="{{idea.avatar}}">
			<div class="tr-mask">
				<div class="tr-mask-body">
					<div class="tr-mask-heading">{{idea.title}}</div>
					<p>{{idea.description| limitTo: 150}}<span ng-show="idea.description.length>150">...</span></p>				
					<button type="button" class="btn btn-success">Read more...</button>				
				</div>
			</div>
		</div>		
	</div>
</div>