<div class="container-fluid">
	<div class="tr-home-header">
	    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <h2>{{slide.heading}}</h2>
	          <p>{{slide.description}}</p>
	          <button type="button" class="btn btn-primary">Log and Browse Ideas</button>
	        </div>
	      </uib-slide>
	    </uib-carousel>
	</div>
	<hr/>
	<div class="container">
		<div class="tr-idea-panel" ng-repeat="idea in listOfIdeas">
			<h3>{{idea.title}}</h3>
			<img ng-src="{{idea.avatar}}">
			<p>{{idea.description| limitTo: 150}}<span ng-show="idea.description.length>150">...</span></p>
		</div>		
	</div>
</div>